.designed-plan{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
 }
 .const-photo-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    background-color: #e6e6e636;
    margin: 20px;
    -webkit-animation: scale-up-left 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-left 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 }

.const-photo-container video {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .const-photo-container video:hover {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: scale(1);
   width: 100%;
   height: 100%;
 }

 /* annimation image */

 @-webkit-keyframes scale-up-left {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
     -webkit-transform-origin: 0% 50%;
             transform-origin: 0% 50%;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-transform-origin: 0% 50%;
             transform-origin: 0% 50%;
   }
 }
 @keyframes scale-up-left {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
     -webkit-transform-origin: 0% 50%;
             transform-origin: 0% 50%;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-transform-origin: 0% 50%;
             transform-origin: 0% 50%;
   }
 }

 .oon-parole-holder{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
 }
 .oon-parole-holder:hover{
   background-color: none;
   cursor: pointer;
 }
 .titre-con {
    width: max-content;
    height: 30px;
    margin-left: -25px;    
    background: linear-gradient(to bottom,  #38573a, #8f9291);
        
 }
 .titre-con:before {
     content: '';
     position: absolute;
     display: block;
     border: 1.5em solid #38573a;
     z-index: -1;
}
.titre-con:before {
    padding-top: 6px;
    left: -3em;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;

}

 .titre-con-text{
    font-size: 16px;
    font-weight:800;
    padding-left: 3em;
    color: #fff;

 }
.text-address{
    font-style: italic;
    color: #000000;
    background-color: #ffffffb0;
}
 .titre-address{
    margin: 1em;
    padding-left: 2em;
 }
.titre-comment{
 width: 100%;
 height:150px;
 background-color: rgba(0, 0, 0, 0.704);
 padding-left: 10px;
 padding-right: 10px;
} 
.comment-now{
    font-weight: 500;
    color:#fff;
    overflow-wrap: break-word;
    
}
.buton{

  display: flex;
  justify-content: center;
}
.play-pause-btn{
    
    width: 60px;
    height: 60px;
    border-radius:50%;
    font-weight: 600;
    margin: 10px;
}